@import "~bootstrap/dist/css/bootstrap.min.css";
//@import "~bootstrap-vue/dist/bootstrap-vue.min.css";
@import "~bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css";
//    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css">
//https://unpkg.com/@coreui/coreui/dist/css/coreui.min.css
//<!-- Theme style -->
//<link rel="stylesheet" href="https://unpkg.com/@coreui/coreui/dist/css/coreui.min.css">
@import "~@coreui/coreui/dist/css/coreui.min.css";
@import "~@coreui/icons/css/free.css";
@import "~font-awesome/css/font-awesome.min.css";
@import "~simple-line-icons/css/simple-line-icons.css";
@import "~flag-icon-css/css/flag-icon.css";

@import "~bootstrap-vue/dist/bootstrap-vue.min.css";

.selector-for-some-widget {
  box-sizing: content-box;
}